<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/343069e3-ceaa-4256-bdc8-49fa3646c1c4/resourceGroups/pcs-commissioningwebapp-non-prod-rg/providers/Microsoft.Web/sites/GetEnvironmentVariables</ResourceId>
    <ResourceGroup>pcs-commissioningwebapp-non-prod-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://getenvironmentvariables.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>waws-prod-osl-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GetEnvironmentVariables</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GetEnvironmentVariables</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>